<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.DataMigrationMapper" >
  <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.model.DataMigration" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trans_meta_id" property="transMetaId" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="input_step_id" property="inputStepId" jdbcType="INTEGER" />
    <result column="output_step_id" property="outputStepId" jdbcType="INTEGER" />
    <result column="hop_id" property="hopId" jdbcType="INTEGER" />
    <result column="src_dbconn_id" property="srcDbconnId" jdbcType="INTEGER" />
    <result column="sql_string" property="sqlString" jdbcType="VARCHAR" />
    <result column="dst_dbconn_id" property="dstDbconnId" jdbcType="INTEGER" />
    <result column="records" property="records" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, trans_meta_id, job_id, input_step_id, output_step_id, hop_id, src_dbconn_id, 
    sql_string, dst_dbconn_id, records, created, updated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsbatech.baasKettleManager.model.DataMigrationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_migration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from data_migration
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from data_migration
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsbatech.baasKettleManager.model.DataMigrationExample" >
    delete from data_migration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsbatech.baasKettleManager.model.DataMigration" >
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select LAST_INSERT_ID()
    </selectKey>
    insert into data_migration (id, trans_meta_id, job_id, 
      input_step_id, output_step_id, hop_id, 
      src_dbconn_id, sql_string, dst_dbconn_id, 
      records, created, updated
      )
    values (#{id,jdbcType=INTEGER}, #{transMetaId,jdbcType=INTEGER}, #{jobId,jdbcType=INTEGER}, 
      #{inputStepId,jdbcType=INTEGER}, #{outputStepId,jdbcType=INTEGER}, #{hopId,jdbcType=INTEGER}, 
      #{srcDbconnId,jdbcType=INTEGER}, #{sqlString,jdbcType=VARCHAR}, #{dstDbconnId,jdbcType=INTEGER}, 
      #{records,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsbatech.baasKettleManager.model.DataMigration" >
    insert into data_migration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transMetaId != null" >
        trans_meta_id,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="inputStepId != null" >
        input_step_id,
      </if>
      <if test="outputStepId != null" >
        output_step_id,
      </if>
      <if test="hopId != null" >
        hop_id,
      </if>
      <if test="srcDbconnId != null" >
        src_dbconn_id,
      </if>
      <if test="sqlString != null" >
        sql_string,
      </if>
      <if test="dstDbconnId != null" >
        dst_dbconn_id,
      </if>
      <if test="records != null" >
        records,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transMetaId != null" >
        #{transMetaId,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="inputStepId != null" >
        #{inputStepId,jdbcType=INTEGER},
      </if>
      <if test="outputStepId != null" >
        #{outputStepId,jdbcType=INTEGER},
      </if>
      <if test="hopId != null" >
        #{hopId,jdbcType=INTEGER},
      </if>
      <if test="srcDbconnId != null" >
        #{srcDbconnId,jdbcType=INTEGER},
      </if>
      <if test="sqlString != null" >
        #{sqlString,jdbcType=VARCHAR},
      </if>
      <if test="dstDbconnId != null" >
        #{dstDbconnId,jdbcType=INTEGER},
      </if>
      <if test="records != null" >
        #{records,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsbatech.baasKettleManager.model.DataMigrationExample" resultType="java.lang.Integer" >
    select count(*) from data_migration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update data_migration
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.transMetaId != null" >
        trans_meta_id = #{record.transMetaId,jdbcType=INTEGER},
      </if>
      <if test="record.jobId != null" >
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.inputStepId != null" >
        input_step_id = #{record.inputStepId,jdbcType=INTEGER},
      </if>
      <if test="record.outputStepId != null" >
        output_step_id = #{record.outputStepId,jdbcType=INTEGER},
      </if>
      <if test="record.hopId != null" >
        hop_id = #{record.hopId,jdbcType=INTEGER},
      </if>
      <if test="record.srcDbconnId != null" >
        src_dbconn_id = #{record.srcDbconnId,jdbcType=INTEGER},
      </if>
      <if test="record.sqlString != null" >
        sql_string = #{record.sqlString,jdbcType=VARCHAR},
      </if>
      <if test="record.dstDbconnId != null" >
        dst_dbconn_id = #{record.dstDbconnId,jdbcType=INTEGER},
      </if>
      <if test="record.records != null" >
        records = #{record.records,jdbcType=INTEGER},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update data_migration
    set id = #{record.id,jdbcType=INTEGER},
      trans_meta_id = #{record.transMetaId,jdbcType=INTEGER},
      job_id = #{record.jobId,jdbcType=INTEGER},
      input_step_id = #{record.inputStepId,jdbcType=INTEGER},
      output_step_id = #{record.outputStepId,jdbcType=INTEGER},
      hop_id = #{record.hopId,jdbcType=INTEGER},
      src_dbconn_id = #{record.srcDbconnId,jdbcType=INTEGER},
      sql_string = #{record.sqlString,jdbcType=VARCHAR},
      dst_dbconn_id = #{record.dstDbconnId,jdbcType=INTEGER},
      records = #{record.records,jdbcType=INTEGER},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsbatech.baasKettleManager.model.DataMigration" >
    update data_migration
    <set >
      <if test="transMetaId != null" >
        trans_meta_id = #{transMetaId,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="inputStepId != null" >
        input_step_id = #{inputStepId,jdbcType=INTEGER},
      </if>
      <if test="outputStepId != null" >
        output_step_id = #{outputStepId,jdbcType=INTEGER},
      </if>
      <if test="hopId != null" >
        hop_id = #{hopId,jdbcType=INTEGER},
      </if>
      <if test="srcDbconnId != null" >
        src_dbconn_id = #{srcDbconnId,jdbcType=INTEGER},
      </if>
      <if test="sqlString != null" >
        sql_string = #{sqlString,jdbcType=VARCHAR},
      </if>
      <if test="dstDbconnId != null" >
        dst_dbconn_id = #{dstDbconnId,jdbcType=INTEGER},
      </if>
      <if test="records != null" >
        records = #{records,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsbatech.baasKettleManager.model.DataMigration" >
    update data_migration
    set trans_meta_id = #{transMetaId,jdbcType=INTEGER},
      job_id = #{jobId,jdbcType=INTEGER},
      input_step_id = #{inputStepId,jdbcType=INTEGER},
      output_step_id = #{outputStepId,jdbcType=INTEGER},
      hop_id = #{hopId,jdbcType=INTEGER},
      src_dbconn_id = #{srcDbconnId,jdbcType=INTEGER},
      sql_string = #{sqlString,jdbcType=VARCHAR},
      dst_dbconn_id = #{dstDbconnId,jdbcType=INTEGER},
      records = #{records,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>