<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.DbManagementMapper" >
  <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.model.DbManagement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="link_name" property="linkName" jdbcType="VARCHAR" />
    <result column="db_type" property="dbType" jdbcType="VARCHAR" />
    <result column="db_host" property="dbHost" jdbcType="VARCHAR" />
    <result column="db_port" property="dbPort" jdbcType="VARCHAR" />
    <result column="db_name" property="dbName" jdbcType="VARCHAR" />
    <result column="db_user" property="dbUser" jdbcType="VARCHAR" />
    <result column="db_password" property="dbPassword" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, link_name, db_type, db_host, db_port, db_name, db_user, db_password, create_time, 
    updated_time, create_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsbatech.baasKettleManager.model.DbManagementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_management
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_management
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_management
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsbatech.baasKettleManager.model.DbManagementExample" >
    delete from db_management
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsbatech.baasKettleManager.model.DbManagement" >
    insert into db_management (id, link_name, db_type, 
      db_host, db_port, db_name, 
      db_user, db_password, create_time, 
      updated_time, create_user)
    values (#{id,jdbcType=INTEGER}, #{linkName,jdbcType=VARCHAR}, #{dbType,jdbcType=VARCHAR}, 
      #{dbHost,jdbcType=VARCHAR}, #{dbPort,jdbcType=VARCHAR}, #{dbName,jdbcType=VARCHAR}, 
      #{dbUser,jdbcType=VARCHAR}, #{dbPassword,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zsbatech.baasKettleManager.model.DbManagement" >
    insert into db_management
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="linkName != null" >
        link_name,
      </if>
      <if test="dbType != null" >
        db_type,
      </if>
      <if test="dbHost != null" >
        db_host,
      </if>
      <if test="dbPort != null" >
        db_port,
      </if>
      <if test="dbName != null" >
        db_name,
      </if>
      <if test="dbUser != null" >
        db_user,
      </if>
      <if test="dbPassword != null" >
        db_password,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="linkName != null" >
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="dbType != null" >
        #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="dbHost != null" >
        #{dbHost,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null" >
        #{dbPort,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbUser != null" >
        #{dbUser,jdbcType=VARCHAR},
      </if>
      <if test="dbPassword != null" >
        #{dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsbatech.baasKettleManager.model.DbManagementExample" resultType="java.lang.Integer" >
    select count(*) from db_management
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update db_management
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.linkName != null" >
        link_name = #{record.linkName,jdbcType=VARCHAR},
      </if>
      <if test="record.dbType != null" >
        db_type = #{record.dbType,jdbcType=VARCHAR},
      </if>
      <if test="record.dbHost != null" >
        db_host = #{record.dbHost,jdbcType=VARCHAR},
      </if>
      <if test="record.dbPort != null" >
        db_port = #{record.dbPort,jdbcType=VARCHAR},
      </if>
      <if test="record.dbName != null" >
        db_name = #{record.dbName,jdbcType=VARCHAR},
      </if>
      <if test="record.dbUser != null" >
        db_user = #{record.dbUser,jdbcType=VARCHAR},
      </if>
      <if test="record.dbPassword != null" >
        db_password = #{record.dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null" >
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update db_management
    set id = #{record.id,jdbcType=INTEGER},
      link_name = #{record.linkName,jdbcType=VARCHAR},
      db_type = #{record.dbType,jdbcType=VARCHAR},
      db_host = #{record.dbHost,jdbcType=VARCHAR},
      db_port = #{record.dbPort,jdbcType=VARCHAR},
      db_name = #{record.dbName,jdbcType=VARCHAR},
      db_user = #{record.dbUser,jdbcType=VARCHAR},
      db_password = #{record.dbPassword,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsbatech.baasKettleManager.model.DbManagement" >
    update db_management
    <set >
      <if test="linkName != null" >
        link_name = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="dbType != null" >
        db_type = #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="dbHost != null" >
        db_host = #{dbHost,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null" >
        db_port = #{dbPort,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbUser != null" >
        db_user = #{dbUser,jdbcType=VARCHAR},
      </if>
      <if test="dbPassword != null" >
        db_password = #{dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsbatech.baasKettleManager.model.DbManagement" >
    update db_management
    set link_name = #{linkName,jdbcType=VARCHAR},
      db_type = #{dbType,jdbcType=VARCHAR},
      db_host = #{dbHost,jdbcType=VARCHAR},
      db_port = #{dbPort,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR},
      db_user = #{dbUser,jdbcType=VARCHAR},
      db_password = #{dbPassword,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getDbManagentsByParam" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from db_management
    <where>
      <if test="id != null" >
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="linkName != null" >
        and link_name LIKE CONCAT(CONCAT('%',#{linkName}),'%')
      </if>
      <if test="dbHost != null" >
        and db_host = #{dbHost,jdbcType=VARCHAR}
      </if>
      <if test="dbPort != null" >
        and db_port = #{dbPort,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        and db_name = #{dbName,jdbcType=VARCHAR}
      </if>
      <if test="dbUser != null" >
        and db_user = #{dbUser,jdbcType=VARCHAR}
      </if>
      <if test="dbPassword != null" >
        and db_password = #{dbPassword,jdbcType=VARCHAR}
      </if>
      <if test="createUser != null" >
        and create_user = #{createUser,jdbcType=VARCHAR}
      </if>
    </where>
    order by id desc
  </select>
</mapper>