<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.DstDbConnectionMapper" >
  <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.model.DstDbConnection" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="step_id" property="stepId" jdbcType="INTEGER" />
    <result column="link_id" property="linkId" jdbcType="INTEGER" />
    <result column="dst_table" property="dstTable" jdbcType="VARCHAR" />
    <result column="dst_table_ch" property="dstTableCh" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="dst_column" property="dstColumn" jdbcType="VARCHAR" />
    <result column="dst_sql" property="dstSql" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, job_id, step_id, link_id, dst_table, dst_table_ch, created, updated, dst_column, 
    dst_sql
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsbatech.baasKettleManager.model.DstDbConnectionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dst_db_connection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dst_db_connection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dst_db_connection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsbatech.baasKettleManager.model.DstDbConnectionExample" >
    delete from dst_db_connection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsbatech.baasKettleManager.model.DstDbConnection" >
    insert into dst_db_connection (id, job_id, step_id, 
      link_id, dst_table, dst_table_ch, 
      created, updated, dst_column, 
      dst_sql)
    values (#{id,jdbcType=INTEGER}, #{jobId,jdbcType=INTEGER}, #{stepId,jdbcType=INTEGER}, 
      #{linkId,jdbcType=INTEGER}, #{dstTable,jdbcType=VARCHAR}, #{dstTableCh,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, #{dstColumn,jdbcType=VARCHAR}, 
      #{dstSql,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zsbatech.baasKettleManager.model.DstDbConnection" >
    insert into dst_db_connection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="stepId != null" >
        step_id,
      </if>
      <if test="linkId != null" >
        link_id,
      </if>
      <if test="dstTable != null" >
        dst_table,
      </if>
      <if test="dstTableCh != null" >
        dst_table_ch,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="dstColumn != null" >
        dst_column,
      </if>
      <if test="dstSql != null" >
        dst_sql,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="stepId != null" >
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="linkId != null" >
        #{linkId,jdbcType=INTEGER},
      </if>
      <if test="dstTable != null" >
        #{dstTable,jdbcType=VARCHAR},
      </if>
      <if test="dstTableCh != null" >
        #{dstTableCh,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="dstColumn != null" >
        #{dstColumn,jdbcType=VARCHAR},
      </if>
      <if test="dstSql != null" >
        #{dstSql,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsbatech.baasKettleManager.model.DstDbConnectionExample" resultType="java.lang.Integer" >
    select count(*) from dst_db_connection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dst_db_connection
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.jobId != null" >
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.stepId != null" >
        step_id = #{record.stepId,jdbcType=INTEGER},
      </if>
      <if test="record.linkId != null" >
        link_id = #{record.linkId,jdbcType=INTEGER},
      </if>
      <if test="record.dstTable != null" >
        dst_table = #{record.dstTable,jdbcType=VARCHAR},
      </if>
      <if test="record.dstTableCh != null" >
        dst_table_ch = #{record.dstTableCh,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dstColumn != null" >
        dst_column = #{record.dstColumn,jdbcType=VARCHAR},
      </if>
      <if test="record.dstSql != null" >
        dst_sql = #{record.dstSql,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dst_db_connection
    set id = #{record.id,jdbcType=INTEGER},
      job_id = #{record.jobId,jdbcType=INTEGER},
      step_id = #{record.stepId,jdbcType=INTEGER},
      link_id = #{record.linkId,jdbcType=INTEGER},
      dst_table = #{record.dstTable,jdbcType=VARCHAR},
      dst_table_ch = #{record.dstTableCh,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP},
      dst_column = #{record.dstColumn,jdbcType=VARCHAR},
      dst_sql = #{record.dstSql,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsbatech.baasKettleManager.model.DstDbConnection" >
    update dst_db_connection
    <set >
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="stepId != null" >
        step_id = #{stepId,jdbcType=INTEGER},
      </if>
      <if test="linkId != null" >
        link_id = #{linkId,jdbcType=INTEGER},
      </if>
      <if test="dstTable != null" >
        dst_table = #{dstTable,jdbcType=VARCHAR},
      </if>
      <if test="dstTableCh != null" >
        dst_table_ch = #{dstTableCh,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="dstColumn != null" >
        dst_column = #{dstColumn,jdbcType=VARCHAR},
      </if>
      <if test="dstSql != null" >
        dst_sql = #{dstSql,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsbatech.baasKettleManager.model.DstDbConnection" >
    update dst_db_connection
    set job_id = #{jobId,jdbcType=INTEGER},
      step_id = #{stepId,jdbcType=INTEGER},
      link_id = #{linkId,jdbcType=INTEGER},
      dst_table = #{dstTable,jdbcType=VARCHAR},
      dst_table_ch = #{dstTableCh,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      dst_column = #{dstColumn,jdbcType=VARCHAR},
      dst_sql = #{dstSql,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>