<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.FileCatalogVOMapper" >
  <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.vo.FileCatalogVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="source_catalog" property="sourceCatalog" jdbcType="VARCHAR" />
    <result column="createtime" property="createTime" jdbcType="VARCHAR" />
    <result column="updatetime" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="layer" property="layer" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List">
    id, source_catalog, createtime, updatetime,create_user,parent_id,layer
  </sql>

  <insert id="insert" parameterType="com.zsbatech.baasKettleManager.vo.FileCatalogVO" >
    insert into file_catalog (id, source_catalog, createtime, updatetime,create_user,parent_id,layer)
    values (#{id,jdbcType=INTEGER}, #{sourceCatalog,jdbcType=VARCHAR},#{createTime,jdbcType=VARCHAR},
    #{updateTime,jdbcType=VARCHAR},#{createUser,jdbcType=VARCHAR},#{parentId,jdbcType=INTEGER},#{layer,jdbcType=TINYINT})
  </insert>

  <select id="select" resultMap="BaseResultMap" parameterType="com.zsbatech.baasKettleManager.vo.FileCatalogVO" >
    select
    <include refid="Base_Column_List" />
    from file_catalog
    where source_catalog = #{sourceCatalog,jdbcType=VARCHAR} AND
           layer = #{layer,jdbcType=TINYINT}
    limit 1
  </select>
</mapper>