<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.FilesVOMapper" >
  <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.vo.FilesVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_catalog" property="fileCatalog" jdbcType="VARCHAR" />
    <result column="origin_name" property="originName" jdbcType="VARCHAR" />
    <result column="createtime" property="createTime" jdbcType="VARCHAR" />
    <result column="updatetime" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_name, file_catalog,origin_name,createtime, updatetime,create_user
  </sql>

  <insert id="insert" parameterType="com.zsbatech.baasKettleManager.vo.FilesVO" >
    insert into files (id, file_name, file_catalog,origin_name,
      createtime, updatetime,create_user)
    values
    (#{id,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR},#{fileCatalog,jdbcType=VARCHAR},
    #{originName,jdbcType=VARCHAR},#{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
    #{createUser,jdbcType=VARCHAR})
  </insert>

  <insert id="insertBatch" parameterType="java.util.List">
    insert into files (id, file_name, file_catalog, origin_name,
    createtime, updatetime, create_user)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.id,jdbcType=INTEGER}, #{item.fileName,jdbcType=VARCHAR},#{item.fileCatalog,jdbcType=VARCHAR},
      #{item.originName,jdbcType=VARCHAR},#{item.createTime,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=VARCHAR},
      #{item.createUser,jdbcType=INTEGER}
      )
    </foreach>
  </insert>

  <select id="queryFilesByfileName" resultMap="BaseResultMap" parameterType="java.util.List" >
    select
    <include refid="Base_Column_List" />
    from files
    where file_name in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="getFileByFileId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from files where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getFilesByFileIds" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from files where id IN
    <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
</mapper>