<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.FTPDownLoadStepVOMapper">
    <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.vo.FTPDownLoadStepVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="ftp_source_id" property="ftpSourceId" jdbcType="INTEGER"/>
        <result column="time_out" property="timeout" jdbcType="INTEGER"/>
        <result column="binary_mode" property="binaryMode" jdbcType="INTEGER"/>
        <result column="control_encoding" property="controlEncoding" jdbcType="VARCHAR"/>
        <result column="ftp_directory" property="ftpDirectory" jdbcType="VARCHAR"/>
        <result column="ftp_file_name" property="ftpFileName" jdbcType="VARCHAR"/>
        <result column="target_directory" property="targetDirectory" jdbcType="VARCHAR"/>
        <result column="job_meta_id" property="jobMetaId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="step_name" property="stepName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, ftp_source_id, time_out,binary_mode,control_encoding,ftp_directory,ftp_file_name, target_directory,job_meta_id,create_time, update_time,step_name
  </sql>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into ftp_download_step (id, ftp_source_id, time_out,binary_mode,control_encoding,
        ftp_directory,ftp_file_name, target_directory,job_meta_id,create_time, update_time,step_name)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.ftpSourceId,jdbcType=INTEGER},#{item.timeout,jdbcType=INTEGER},
            #{item.binaryMode,jdbcType=INTEGER},#{item.controlEncoding,jdbcType=VARCHAR},#{item.ftpDirectory,jdbcType=VARCHAR},#{item.ftpFileName,jdbcType=VARCHAR},
            #{item.targetDirectory,jdbcType=VARCHAR},#{item.jobMetaId,jdbcType=INTEGER},#{item.createTime,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=VARCHAR},#{item.stepName,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <insert id="insert" parameterType="java.util.List">
        insert into ftp_download_step (id, ftp_source_id, time_out,binary_mode,control_encoding,
        ftp_directory,ftp_file_name, target_directory,job_meta_id,create_time, update_time,step_name)
        values
            (#{id,jdbcType=INTEGER}, #{ftpSourceId,jdbcType=INTEGER},#{timeout,jdbcType=INTEGER},
            #{binaryMode,jdbcType=INTEGER},#{controlEncoding,jdbcType=VARCHAR},#{ftpDirectory,jdbcType=VARCHAR},#{ftpFileName,jdbcType=VARCHAR},
            #{targetDirectory,jdbcType=VARCHAR},#{jobMetaId,jdbcType=INTEGER},#{createTime,jdbcType=VARCHAR},
            #{updateTime,jdbcType=VARCHAR},#{stepName,jdbcType=VARCHAR})
    </insert>

    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from ftp_download_step
        where step_name = #{stepName,jdbcType=INTEGER}
        limit 1
    </select>

    <select id="selectFTPDownLoadStepVOById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from ftp_download_step
        where job_meta_id = #{jobMetaId,jdbcType=INTEGER}
        limit 1
    </select>
</mapper>
