<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.InsertUpdateStepMapper" >
  <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.model.InsertUpdateStep" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trans_meta_id" property="transMetaId" jdbcType="INTEGER" />
    <result column="db_management_id" property="dbManagementId" jdbcType="INTEGER" />
    <result column="step_name" property="stepName" jdbcType="VARCHAR" />
    <result column="update_lookup" property="updateLookup" jdbcType="VARCHAR" />
    <result column="time_stamp_column" property="timeStampColumn" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="key_lookup" property="keyLookup" jdbcType="VARCHAR" />
    <result column="target_table" property="targetTable" jdbcType="VARCHAR" />
    <result column="is_update" property="isUpdate" jdbcType="TINYINT" />
    <result column="key_stream" property="keyStream" jdbcType="VARCHAR" />
    <result column="key_stream2" property="keyStream2" jdbcType="VARCHAR" />
    <result column="key_condition" property="keyCondition" jdbcType="VARCHAR" />
    <result column="update_stream" property="updateStream" jdbcType="VARCHAR" />
    <result column="update_or_not" property="updateOrNot" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, trans_meta_id, db_management_id, step_name, update_lookup, time_stamp_column, 
    update_time, create_time, key_lookup, target_table, is_update, key_stream, key_stream2, 
    key_condition, update_stream, update_or_not
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsbatech.baasKettleManager.model.InsertUpdateStepExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from insert_update_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from insert_update_step
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from insert_update_step
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsbatech.baasKettleManager.model.InsertUpdateStepExample" >
    delete from insert_update_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsbatech.baasKettleManager.model.InsertUpdateStep" >
    insert into insert_update_step (id, trans_meta_id, db_management_id, 
      step_name, update_lookup, time_stamp_column, 
      update_time, create_time, key_lookup, 
      target_table, is_update, key_stream, 
      key_stream2, key_condition, update_stream, 
      update_or_not)
    values (#{id,jdbcType=INTEGER}, #{transMetaId,jdbcType=INTEGER}, #{dbManagementId,jdbcType=INTEGER}, 
      #{stepName,jdbcType=VARCHAR}, #{updateLookup,jdbcType=VARCHAR}, #{timeStampColumn,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{keyLookup,jdbcType=VARCHAR}, 
      #{targetTable,jdbcType=VARCHAR}, #{isUpdate,jdbcType=TINYINT}, #{keyStream,jdbcType=VARCHAR}, 
      #{keyStream2,jdbcType=VARCHAR}, #{keyCondition,jdbcType=VARCHAR}, #{updateStream,jdbcType=VARCHAR}, 
      #{updateOrNot,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zsbatech.baasKettleManager.model.InsertUpdateStep" >
    insert into insert_update_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transMetaId != null" >
        trans_meta_id,
      </if>
      <if test="dbManagementId != null" >
        db_management_id,
      </if>
      <if test="stepName != null" >
        step_name,
      </if>
      <if test="updateLookup != null" >
        update_lookup,
      </if>
      <if test="timeStampColumn != null" >
        time_stamp_column,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="keyLookup != null" >
        key_lookup,
      </if>
      <if test="targetTable != null" >
        target_table,
      </if>
      <if test="isUpdate != null" >
        is_update,
      </if>
      <if test="keyStream != null" >
        key_stream,
      </if>
      <if test="keyStream2 != null" >
        key_stream2,
      </if>
      <if test="keyCondition != null" >
        key_condition,
      </if>
      <if test="updateStream != null" >
        update_stream,
      </if>
      <if test="updateOrNot != null" >
        update_or_not,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transMetaId != null" >
        #{transMetaId,jdbcType=INTEGER},
      </if>
      <if test="dbManagementId != null" >
        #{dbManagementId,jdbcType=INTEGER},
      </if>
      <if test="stepName != null" >
        #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="updateLookup != null" >
        #{updateLookup,jdbcType=VARCHAR},
      </if>
      <if test="timeStampColumn != null" >
        #{timeStampColumn,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keyLookup != null" >
        #{keyLookup,jdbcType=VARCHAR},
      </if>
      <if test="targetTable != null" >
        #{targetTable,jdbcType=VARCHAR},
      </if>
      <if test="isUpdate != null" >
        #{isUpdate,jdbcType=TINYINT},
      </if>
      <if test="keyStream != null" >
        #{keyStream,jdbcType=VARCHAR},
      </if>
      <if test="keyStream2 != null" >
        #{keyStream2,jdbcType=VARCHAR},
      </if>
      <if test="keyCondition != null" >
        #{keyCondition,jdbcType=VARCHAR},
      </if>
      <if test="updateStream != null" >
        #{updateStream,jdbcType=VARCHAR},
      </if>
      <if test="updateOrNot != null" >
        #{updateOrNot,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsbatech.baasKettleManager.model.InsertUpdateStepExample" resultType="java.lang.Integer" >
    select count(*) from insert_update_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update insert_update_step
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.transMetaId != null" >
        trans_meta_id = #{record.transMetaId,jdbcType=INTEGER},
      </if>
      <if test="record.dbManagementId != null" >
        db_management_id = #{record.dbManagementId,jdbcType=INTEGER},
      </if>
      <if test="record.stepName != null" >
        step_name = #{record.stepName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateLookup != null" >
        update_lookup = #{record.updateLookup,jdbcType=VARCHAR},
      </if>
      <if test="record.timeStampColumn != null" >
        time_stamp_column = #{record.timeStampColumn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.keyLookup != null" >
        key_lookup = #{record.keyLookup,jdbcType=VARCHAR},
      </if>
      <if test="record.targetTable != null" >
        target_table = #{record.targetTable,jdbcType=VARCHAR},
      </if>
      <if test="record.isUpdate != null" >
        is_update = #{record.isUpdate,jdbcType=TINYINT},
      </if>
      <if test="record.keyStream != null" >
        key_stream = #{record.keyStream,jdbcType=VARCHAR},
      </if>
      <if test="record.keyStream2 != null" >
        key_stream2 = #{record.keyStream2,jdbcType=VARCHAR},
      </if>
      <if test="record.keyCondition != null" >
        key_condition = #{record.keyCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.updateStream != null" >
        update_stream = #{record.updateStream,jdbcType=VARCHAR},
      </if>
      <if test="record.updateOrNot != null" >
        update_or_not = #{record.updateOrNot,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update insert_update_step
    set id = #{record.id,jdbcType=INTEGER},
      trans_meta_id = #{record.transMetaId,jdbcType=INTEGER},
      db_management_id = #{record.dbManagementId,jdbcType=INTEGER},
      step_name = #{record.stepName,jdbcType=VARCHAR},
      update_lookup = #{record.updateLookup,jdbcType=VARCHAR},
      time_stamp_column = #{record.timeStampColumn,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      key_lookup = #{record.keyLookup,jdbcType=VARCHAR},
      target_table = #{record.targetTable,jdbcType=VARCHAR},
      is_update = #{record.isUpdate,jdbcType=TINYINT},
      key_stream = #{record.keyStream,jdbcType=VARCHAR},
      key_stream2 = #{record.keyStream2,jdbcType=VARCHAR},
      key_condition = #{record.keyCondition,jdbcType=VARCHAR},
      update_stream = #{record.updateStream,jdbcType=VARCHAR},
      update_or_not = #{record.updateOrNot,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsbatech.baasKettleManager.model.InsertUpdateStep" >
    update insert_update_step
    <set >
      <if test="transMetaId != null" >
        trans_meta_id = #{transMetaId,jdbcType=INTEGER},
      </if>
      <if test="dbManagementId != null" >
        db_management_id = #{dbManagementId,jdbcType=INTEGER},
      </if>
      <if test="stepName != null" >
        step_name = #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="updateLookup != null" >
        update_lookup = #{updateLookup,jdbcType=VARCHAR},
      </if>
      <if test="timeStampColumn != null" >
        time_stamp_column = #{timeStampColumn,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keyLookup != null" >
        key_lookup = #{keyLookup,jdbcType=VARCHAR},
      </if>
      <if test="targetTable != null" >
        target_table = #{targetTable,jdbcType=VARCHAR},
      </if>
      <if test="isUpdate != null" >
        is_update = #{isUpdate,jdbcType=TINYINT},
      </if>
      <if test="keyStream != null" >
        key_stream = #{keyStream,jdbcType=VARCHAR},
      </if>
      <if test="keyStream2 != null" >
        key_stream2 = #{keyStream2,jdbcType=VARCHAR},
      </if>
      <if test="keyCondition != null" >
        key_condition = #{keyCondition,jdbcType=VARCHAR},
      </if>
      <if test="updateStream != null" >
        update_stream = #{updateStream,jdbcType=VARCHAR},
      </if>
      <if test="updateOrNot != null" >
        update_or_not = #{updateOrNot,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsbatech.baasKettleManager.model.InsertUpdateStep" >
    update insert_update_step
    set trans_meta_id = #{transMetaId,jdbcType=INTEGER},
      db_management_id = #{dbManagementId,jdbcType=INTEGER},
      step_name = #{stepName,jdbcType=VARCHAR},
      update_lookup = #{updateLookup,jdbcType=VARCHAR},
      time_stamp_column = #{timeStampColumn,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      key_lookup = #{keyLookup,jdbcType=VARCHAR},
      target_table = #{targetTable,jdbcType=VARCHAR},
      is_update = #{isUpdate,jdbcType=TINYINT},
      key_stream = #{keyStream,jdbcType=VARCHAR},
      key_stream2 = #{keyStream2,jdbcType=VARCHAR},
      key_condition = #{keyCondition,jdbcType=VARCHAR},
      update_stream = #{updateStream,jdbcType=VARCHAR},
      update_or_not = #{updateOrNot,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>