<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.InsertUpdateStepVOMapper">
    <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.vo.InsertUpdateStepVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="trans_meta_id" property="transMetaId" jdbcType="INTEGER"/>
        <result column="db_management_id" property="dBManageMentId" jdbcType="INTEGER"/>
        <result column="step_name" property="stepName" jdbcType="VARCHAR"/>
        <result column="update_lookup" property="updateLookup" jdbcType="VARCHAR"/>
        <result column="time_stamp_column" property="timeStampColumn" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="key_lookup" property="keyLookup" jdbcType="VARCHAR"/>
        <result column="target_table" property="targetTable" jdbcType="VARCHAR"/>
        <result column="is_update" property="isUpdate" jdbcType="TINYINT"/>
        <result column="key_stream" property="keyStream" jdbcType="VARCHAR"/>
        <result column="key_stream2" property="keyStream2" jdbcType="VARCHAR"/>
        <result column="key_condition" property="keyCondition" jdbcType="VARCHAR"/>
        <result column="update_stream" property="updateStream" jdbcType="VARCHAR"/>
        <result column="update_or_not" property="updateOrNot" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
    id, trans_meta_id, db_management_id, step_name, update_lookup,time_stamp_column,create_time,update_time,key_lookup,
    target_table,is_update,key_stream,key_stream2,key_condition,update_stream,update_or_not
  </sql>

    <insert id="insert" parameterType="com.zsbatech.baasKettleManager.vo.InsertUpdateStepVO">
    insert into insert_update_step (id, trans_meta_id, db_management_id, step_name, update_lookup,time_stamp_column,
    create_time,update_time,key_lookup,target_table,is_update,,key_stream,key_stream2,key_condition,update_stream,update_or_not)
    values (#{id,jdbcType=INTEGER},#{transMetaId,jdbcType=INTEGER},#{dBManageMentId,jdbcType=INTEGER},
     #{stepName,jdbcType=VARCHAR},#{updateLookup,jdbcType=VARCHAR},#{timeStampColumn,jdbcType=VARCHAR},
    #{createTime,jdbcType=INTEGER},#{updateTime,jdbcType=INTEGER},#{keyLookup,jdbcType=VARCHAR},
    #{targetTable,jdbcType=VARCHAR},#{isUpdate,jdbcType=TINYINT},#{keyStream,jdbcType=VARCHAR},#{keyStream2,jdbcType=VARCHAR},
    #{keyCondition,jdbcType=VARCHAR},#{update_stream,jdbcType=VARCHAR},#{update_or_not,jdbcType=VARCHAR})
  </insert>

    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from insert_update_step
        where step_name = #{stepName,jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="selectByTransMetaId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from insert_update_step
        where trans_meta_id = #{transMetaId,jdbcType=INTEGER}
        limit 1
    </select>
</mapper>
