<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.JobHopMapper" >
  <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.model.JobHop" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="from_step_id" property="fromStepId" jdbcType="INTEGER" />
    <result column="to_step_id" property="toStepId" jdbcType="INTEGER" />
    <result column="hop_sequence" property="hopSequence" jdbcType="TINYINT" />
    <result column="condition" property="condition" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, from_step_id, to_step_id, hop_sequence, condition, createtime, updatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsbatech.baasKettleManager.model.JobHopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job_hop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job_hop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job_hop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsbatech.baasKettleManager.model.JobHopExample" >
    delete from job_hop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsbatech.baasKettleManager.model.JobHop" >
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select LAST_INSERT_ID()
    </selectKey>
    insert into job_hop (id, from_step_id, to_step_id, 
      hop_sequence, condition, createtime, 
      updatetime)
    values (#{id,jdbcType=INTEGER}, #{fromStepId,jdbcType=INTEGER}, #{toStepId,jdbcType=INTEGER}, 
      #{hopSequence,jdbcType=TINYINT}, #{condition,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zsbatech.baasKettleManager.model.JobHop" >
    insert into job_hop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fromStepId != null" >
        from_step_id,
      </if>
      <if test="toStepId != null" >
        to_step_id,
      </if>
      <if test="hopSequence != null" >
        hop_sequence,
      </if>
      <if test="condition != null" >
        condition,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fromStepId != null" >
        #{fromStepId,jdbcType=INTEGER},
      </if>
      <if test="toStepId != null" >
        #{toStepId,jdbcType=INTEGER},
      </if>
      <if test="hopSequence != null" >
        #{hopSequence,jdbcType=TINYINT},
      </if>
      <if test="condition != null" >
        #{condition,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsbatech.baasKettleManager.model.JobHopExample" resultType="java.lang.Integer" >
    select count(*) from job_hop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update job_hop
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fromStepId != null" >
        from_step_id = #{record.fromStepId,jdbcType=INTEGER},
      </if>
      <if test="record.toStepId != null" >
        to_step_id = #{record.toStepId,jdbcType=INTEGER},
      </if>
      <if test="record.hopSequence != null" >
        hop_sequence = #{record.hopSequence,jdbcType=TINYINT},
      </if>
      <if test="record.condition != null" >
        condition = #{record.condition,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update job_hop
    set id = #{record.id,jdbcType=INTEGER},
      from_step_id = #{record.fromStepId,jdbcType=INTEGER},
      to_step_id = #{record.toStepId,jdbcType=INTEGER},
      hop_sequence = #{record.hopSequence,jdbcType=TINYINT},
      condition = #{record.condition,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsbatech.baasKettleManager.model.JobHop" >
    update job_hop
    <set >
      <if test="fromStepId != null" >
        from_step_id = #{fromStepId,jdbcType=INTEGER},
      </if>
      <if test="toStepId != null" >
        to_step_id = #{toStepId,jdbcType=INTEGER},
      </if>
      <if test="hopSequence != null" >
        hop_sequence = #{hopSequence,jdbcType=TINYINT},
      </if>
      <if test="condition != null" >
        condition = #{condition,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsbatech.baasKettleManager.model.JobHop" >
    update job_hop
    set from_step_id = #{fromStepId,jdbcType=INTEGER},
      to_step_id = #{toStepId,jdbcType=INTEGER},
      hop_sequence = #{hopSequence,jdbcType=TINYINT},
      condition = #{condition,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>