<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.JobHopMetaVOMapper">
    <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.vo.JobHopMetaVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="from_step_id" property="fromStepId" jdbcType="INTEGER"/>
        <result column="to_step_id" property="toStepId" jdbcType="INTEGER"/>
        <result column="hop_sequence" property="hopSequence" jdbcType="TINYINT"/>
        <result column="condition" property="condition" jdbcType="TINYINT"/>
        <result column="createtime" property="createTime" jdbcType="VARCHAR"/>
        <result column="updatetime" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, from_step_id, to_step_id,hop_sequence,condition, createtime, updatetime
  </sql>

    <insert id="insertHopBatch" parameterType="com.zsbatech.baasKettleManager.vo.JobHopMetaVO">
        insert into job_hop (id, from_step_id, to_step_id,
        hop_sequence,condition,createtime, updatetime)
        values
            (
            #{id,jdbcType=INTEGER},
            #{fromStepId,jdbcType=INTEGER},#{toStepId,jdbcType=INTEGER},#{hopSequence,jdbcType=TINYINT},
            #{condition,jdbcType=TINYINT},#{createTime,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR}
            )
    </insert>
</mapper>
