<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.JobHopMetaDOMapper">
    <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.model.JobHopMetaDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="from_step_id" property="fromStepId" jdbcType="INTEGER"/>
        <result column="to_step_id" property="toStepId" jdbcType="INTEGER"/>
        <result column="hop_sequence" property="hopSequence" jdbcType="TINYINT"/>
        <result column="cndition" property="condition" jdbcType="TINYINT"/>
        <result column="createtime" property="createTime" jdbcType="VARCHAR"/>
        <result column="updatetime" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, from_step_id, to_step_id,hop_sequence,cndition, createtime, updatetime
  </sql>

    <insert id="insert" parameterType="com.zsbatech.baasKettleManager.model.JobHopMetaDO">
        insert into job_hop (id, from_step_id, to_step_id,
        hop_sequence,cndition,createtime, updatetime)
        values(#{id,jdbcType=INTEGER}, #{fromStepId,jdbcType=INTEGER},#{toStepId,jdbcType=INTEGER},#{hopSequence,jdbcType=TINYINT},
            #{condition,jdbcType=TINYINT},#{createTime,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertBatch" parameterType="com.zsbatech.baasKettleManager.model.JobHopMetaDO">
        insert into job_hop (id, from_step_id, to_step_id,
        hop_sequence,cndition,createtime, updatetime)
        values <foreach collection="list" item="item" index="index" separator=",">
        (#{item.id,jdbcType=INTEGER}, #{item.fromStepId,jdbcType=INTEGER},#{item.toStepId,jdbcType=INTEGER},#{item.hopSequence,jdbcType=TINYINT},
            #{item.condition,jdbcType=TINYINT},#{item.createTime,jdbcType=VARCHAR},#{item.updateTime,jdbcType=VARCHAR})
    </foreach>
    </insert>

    <select id="selectJobHopMetaVOById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from job_hop
        where from_step_id = #{fromStepId,jdbcType=INTEGER} and to_step_id = #{toStepId,jdbcType=INTEGER}
        limit 1
    </select>
</mapper>
