<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.JobStartStepDOMapper" >
  <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.model.JobStartStepDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_step_name" property="stepName" jdbcType="VARCHAR" />
    <result column="timing_type" property="timingType" jdbcType="TINYINT" />
    <result column="is_repeat" property="isRepeat" jdbcType="TINYINT" />
    <result column="timing_time" property="timingTime" jdbcType="TINYINT" />
    <result column="job_meta_id" property="jobMetaId" jdbcType="INTEGER" />
    <result column="createtime" property="createTime" jdbcType="VARCHAR" />
    <result column="updatetime" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, job_step_name, timing_type, is_repeat,timing_time,job_meta_id,createtime, updatetime
  </sql>

  <insert id="insert" parameterType="com.zsbatech.baasKettleManager.model.JobStartStepDO" >
    insert into job_start_step (id, job_step_name, timing_type,
    is_repeat,timing_time,job_meta_id,createtime, updatetime)
    values (#{id,jdbcType=INTEGER}, #{stepName,jdbcType=VARCHAR},#{timingType,jdbcType=TINYINT},#{isRepeat,jdbcType=TINYINT},#{timingTime,jdbcType=TINYINT},#{jobMetaId,jdbcType=INTEGER},#{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR})
  </insert>

  <select id="selectJobStartStepVO" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from job_start_step
    where job_meta_id = #{jobMetaId,jdbcType=INTEGER}
    limit 1
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from job_start_step
    where job_step_name = #{stepName,jdbcType=INTEGER}
    limit 1
  </select>

  <update id="updateByJobId" parameterType="com.zsbatech.baasKettleManager.model.FTPPutStepDO">
    update job_start_step
    <set>

      <if test="timing_type != null ">
        timing_type = #{timingType,jdbcType=TINYINT},
      </if>
      <if test="timing_time != null">
        timing_time = #{timingTime,jdbcType=TINYINT},
      </if>
      <if test="is_repeat != null">
        is_repeat = #{isRepeat,jdbcType=TINYINT},
      </if>
    </set>
    where job_meta_id = #{jobMetaId,jdbcType=INTEGER}
  </update>
</mapper>
