<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.PeriodExecuteMapper" >
  <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.model.PeriodExecute" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="data_migration_id" property="dataMigrationId" jdbcType="INTEGER" />
    <result column="is_exist" property="isExist" jdbcType="TINYINT" />
    <result column="sql_string" property="sqlString" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="data_type" property="dataType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, data_migration_id, is_exist, sql_string, modify_time, data_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsbatech.baasKettleManager.model.PeriodExecuteExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from period_execute
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zsbatech.baasKettleManager.model.PeriodExecuteExample" >
    delete from period_execute
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsbatech.baasKettleManager.model.PeriodExecute" >
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select LAST_INSERT_ID()
    </selectKey>
    insert into period_execute (id, data_migration_id, is_exist, 
      sql_string, modify_time, data_type
      )
    values (#{id,jdbcType=INTEGER}, #{dataMigrationId,jdbcType=INTEGER}, #{isExist,jdbcType=TINYINT}, 
      #{sqlString,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{dataType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsbatech.baasKettleManager.model.PeriodExecute" >
    insert into period_execute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dataMigrationId != null" >
        data_migration_id,
      </if>
      <if test="isExist != null" >
        is_exist,
      </if>
      <if test="sqlString != null" >
        sql_string,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dataMigrationId != null" >
        #{dataMigrationId,jdbcType=INTEGER},
      </if>
      <if test="isExist != null" >
        #{isExist,jdbcType=TINYINT},
      </if>
      <if test="sqlString != null" >
        #{sqlString,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsbatech.baasKettleManager.model.PeriodExecuteExample" resultType="java.lang.Integer" >
    select count(*) from period_execute
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update period_execute
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dataMigrationId != null" >
        data_migration_id = #{record.dataMigrationId,jdbcType=INTEGER},
      </if>
      <if test="record.isExist != null" >
        is_exist = #{record.isExist,jdbcType=TINYINT},
      </if>
      <if test="record.sqlString != null" >
        sql_string = #{record.sqlString,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dataType != null" >
        data_type = #{record.dataType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update period_execute
    set id = #{record.id,jdbcType=INTEGER},
      data_migration_id = #{record.dataMigrationId,jdbcType=INTEGER},
      is_exist = #{record.isExist,jdbcType=TINYINT},
      sql_string = #{record.sqlString,jdbcType=VARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      data_type = #{record.dataType,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>