<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.TableinputStepMapper" >
  <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.model.TableinputStep" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trans_step_name" property="transStepName" jdbcType="VARCHAR" />
    <result column="db_connection_name" property="dbConnectionName" jdbcType="VARCHAR" />
    <result column="exc_sql" property="excSql" jdbcType="VARCHAR" />
    <result column="trans_meta_id" property="transMetaId" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="db_management_id" property="dbManagementId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, trans_step_name, db_connection_name, exc_sql, trans_meta_id, createtime, updatetime, 
    db_management_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsbatech.baasKettleManager.model.TableinputStepExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tableinput_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tableinput_step
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tableinput_step
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsbatech.baasKettleManager.model.TableinputStepExample" >
    delete from tableinput_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsbatech.baasKettleManager.model.TableinputStep" >
    insert into tableinput_step (id, trans_step_name, db_connection_name, 
      exc_sql, trans_meta_id, createtime, 
      updatetime, db_management_id)
    values (#{id,jdbcType=INTEGER}, #{transStepName,jdbcType=VARCHAR}, #{dbConnectionName,jdbcType=VARCHAR}, 
      #{excSql,jdbcType=VARCHAR}, #{transMetaId,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{dbManagementId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zsbatech.baasKettleManager.model.TableinputStep" >
    insert into tableinput_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transStepName != null" >
        trans_step_name,
      </if>
      <if test="dbConnectionName != null" >
        db_connection_name,
      </if>
      <if test="excSql != null" >
        exc_sql,
      </if>
      <if test="transMetaId != null" >
        trans_meta_id,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="dbManagementId != null" >
        db_management_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transStepName != null" >
        #{transStepName,jdbcType=VARCHAR},
      </if>
      <if test="dbConnectionName != null" >
        #{dbConnectionName,jdbcType=VARCHAR},
      </if>
      <if test="excSql != null" >
        #{excSql,jdbcType=VARCHAR},
      </if>
      <if test="transMetaId != null" >
        #{transMetaId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="dbManagementId != null" >
        #{dbManagementId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsbatech.baasKettleManager.model.TableinputStepExample" resultType="java.lang.Integer" >
    select count(*) from tableinput_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tableinput_step
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.transStepName != null" >
        trans_step_name = #{record.transStepName,jdbcType=VARCHAR},
      </if>
      <if test="record.dbConnectionName != null" >
        db_connection_name = #{record.dbConnectionName,jdbcType=VARCHAR},
      </if>
      <if test="record.excSql != null" >
        exc_sql = #{record.excSql,jdbcType=VARCHAR},
      </if>
      <if test="record.transMetaId != null" >
        trans_meta_id = #{record.transMetaId,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dbManagementId != null" >
        db_management_id = #{record.dbManagementId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tableinput_step
    set id = #{record.id,jdbcType=INTEGER},
      trans_step_name = #{record.transStepName,jdbcType=VARCHAR},
      db_connection_name = #{record.dbConnectionName,jdbcType=VARCHAR},
      exc_sql = #{record.excSql,jdbcType=VARCHAR},
      trans_meta_id = #{record.transMetaId,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      db_management_id = #{record.dbManagementId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsbatech.baasKettleManager.model.TableinputStep" >
    update tableinput_step
    <set >
      <if test="transStepName != null" >
        trans_step_name = #{transStepName,jdbcType=VARCHAR},
      </if>
      <if test="dbConnectionName != null" >
        db_connection_name = #{dbConnectionName,jdbcType=VARCHAR},
      </if>
      <if test="excSql != null" >
        exc_sql = #{excSql,jdbcType=VARCHAR},
      </if>
      <if test="transMetaId != null" >
        trans_meta_id = #{transMetaId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="dbManagementId != null" >
        db_management_id = #{dbManagementId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsbatech.baasKettleManager.model.TableinputStep" >
    update tableinput_step
    set trans_step_name = #{transStepName,jdbcType=VARCHAR},
      db_connection_name = #{dbConnectionName,jdbcType=VARCHAR},
      exc_sql = #{excSql,jdbcType=VARCHAR},
      trans_meta_id = #{transMetaId,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      db_management_id = #{dbManagementId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>