<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsbatech.baasKettleManager.dao.TransHopMetaVOMapper">
    <resultMap id="BaseResultMap" type="com.zsbatech.baasKettleManager.vo.TransHopMetaVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="from_step_id" property="fromStepId" jdbcType="INTEGER"/>
        <result column="to_step_id" property="toStepId" jdbcType="INTEGER"/>
        <result column="createtime" property="createTime" jdbcType="VARCHAR"/>
        <result column="updatetime" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, from_step_id, to_step_id, createtime, updatetime
  </sql>

    <insert id="insertHopBatch" parameterType="java.util.List">
        <!--<selectKey resultType ="java.lang.Integer" keyProperty= "id"-->
                         <!--order= "AFTER">-->
                      <!--SELECT LAST_INSERT_ID()-->
                    <!--</selectKey >-->
        insert into trans_hop (id, from_step_id, to_step_id,
        createtime, updatetime)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=INTEGER},
            #{item.fromStepId,jdbcType=INTEGER},#{item.toStepId,jdbcType=INTEGER},#{item.createTime,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>
